In [1]:
#code snippet 1
#Installing h2o
!pip install h2o

Collecting h2o
  Downloading h2o-3.46.0.7-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from h2o) (2.32.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (from h2o) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (2025.8.3)
Downloading h2o-3.46.0.7-py2.py3-none-any.whl (265.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 265.9/265.9 MB 5.3 MB/s eta 0:00:00
Installing collected packages: h2o
Successfully installed h2o-3.46.0.7

In [2]:
#code snippet 2
#Importing h2o
import h2o

#initialize h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.28" 2025-07-15; OpenJDK Runtime Environment (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1); OpenJDK 64-Bit Server VM (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.12/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpropm7qbe
  JVM stdout: /tmp/tmpropm7qbe/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpropm7qbe/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is (5 months and 26 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  -----------------------------------------------------------------------------------------
H2O_cluster_uptime:         07 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.7
H2O_cluster_version_age:    5 months and 26 days
H2O_cluster_name:           H2O_from_python_unknownUser_f99hn0
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.168 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null, "colab_language_server": "/usr/colab/bin/language_service"}
H2O_internal_security:      False
Python_version:             3.12.11 final
--------------------------  -----------------------------------------------------------------------------------------

In [3]:
# Code snippet 3
# Importing dataset
data = h2o.import_file('https://raw.githubusercontent.com/Imjuandiaz/Customer_data_Ebook/refs/heads/main/Customer%20Data%20Apr%202024%20-%20Customer%20Data.csv')


data

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

  Customer ID  Title    First Name    Middle Name    Last Name    Suffix    Street Address1      Street Address2    City-ZipCode-State            Birth Date           Education Level    Occupation    Gender    Marital Status      Home Owner Status    Number of Cars Owned    Number of Children At Home    Total Number of Children    Annual Income    Avg Monthly Spend    eBook Subscriber Flag
-------------  -------  ------------  -------------  -----------  --------  -------------------  -----------------  ----------------------------  -------------------  -----------------  ------------  --------  ----------------  -------------------  ----------------------  ----------------------------  --------------------------  ---------------  -------------------  -----------------------
        11000           Jon           V              Yang                   3761 N. 14th St                         Cleveland-44101-Ohio          2066-04-08 00:00:00  Bachelors          Professional  M         M                                   1                       0                             0                           2           137947                   89                        0
        11001           Eugene        L              Huang                  2243 W St.                              Seattle-98101-Washington      2065-05-14 00:00:00  Bachelors          Professional  M         S                                   0                       1                             3                           3           101141                  117                        1
        11002           Ruben                        Torres                 5844 Linden Land                        Omaha-68101-Nebraska          2065-08-12 00:00:00  Bachelors          Professional  M         M                                   1                       1                             3                           3            91945                  123                        0
        11003           Christy                      Zhu                    1825 Village Pl.                        Fort Worth-76101-Texas        2068-02-15 00:00:00  Bachelors          Professional  F         S                                   0                       1                             0                           0            86688                   50                        0
        11004           Elizabeth                    Johnson                7553 Harness Circle                     Oakland-94601-California      2068-08-08 00:00:00  Bachelors          Professional  F         S                                   1                       4                             5                           5            92771                   95                        1
        11005           Julio                        Ruiz                   7305 Humphrey Drive                     Corpus Christi-78401-Texas    2065-08-05 00:00:00  Bachelors          Professional  M         S                                   1                       1                             0                           0           103199                   78                        1
        11006           Janet         G              Alvarez                2612 Berry Dr                           Chula Vista-91910-California  2065-12-06 00:00:00  Bachelors          Professional  F         S                                   1                       1                             0                           0            84756                   54                        1
        11007           Marco                        Mehta                  942 Brook Street                        Anaheim-92801-California      2064-05-09 00:00:00  Bachelors          Professional  M         M                                   1                       2                             3                           3           109759                  130                        1
        11008           Rob                          Verhoff                624 Peabody Road                        Sacramento-94203-California   2064-07-07 00:00:00  Bachelors          Professional  F         S                                   1                       3                             4                           4            88005                   85                        1
        11009           Shannon       C              Carlson                3839 Northgate Road                     Chula Vista-91910-California  2064-04-01 00:00:00  Bachelors          Professional  M         S                                   0                       1                             0                           0           106399                   74                        0
[16519 rows x 21 columns]

In [4]:
#code snippet 4
#Importing Kmeans Estimator
from h2o.estimators.kmeans import H2OKMeansEstimator

In [5]:
#code snippet 5
#setting the number of clusters in the data train as 4
kmeans_model = H2OKMeansEstimator(k=3)

#Train the clustering model
kmeans_model.train(training_frame=data)

kmeans Model Build progress: |

/usr/local/lib/python3.12/dist-packages/h2o/estimators/estimator_base.py:192: RuntimeWarning: Dropping bad and constant columns: [Suffix]
  warnings.warn(mesg["message"], RuntimeWarning)

███████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OKMeansEstimator : K-means
Model Key: KMeans_model_python_1758571895578_1


Model Summary:
    number_of_rows    number_of_clusters    number_of_categorical_columns    number_of_iterations    within_cluster_sum_of_squares    total_sum_of_squares    between_cluster_sum_of_squares
--  ----------------  --------------------  -------------------------------  ----------------------  -------------------------------  ----------------------  --------------------------------
    16519             3                     11                               10                      207928                           261931                  54003.5

ModelMetricsClustering: kmeans
** Reported on train data. **

Total Within Cluster Sum of Square Error: 207872.19996066572
Total Sum of Square Error to Grand Mean: 261931.0009489411
Between Cluster Sum of Square Error: 54058.80098827538

Centroid Statistics:
    centroid    size    within_cluster_sum_of_squares
--  ----------  ------  -------------------------------
    1           6891    82597.6
    2           2888    37964.1
    3           6740    87310.4

Scoring History:
    timestamp            duration    iterations    number_of_reassigned_observations    within_cluster_sum_of_squares
--  -------------------  ----------  ------------  -----------------------------------  -------------------------------
    2025-09-22 20:12:01  0.227 sec   0             nan                                  nan
    2025-09-22 20:12:03  1.582 sec   1             16519                                294850
    2025-09-22 20:12:03  1.902 sec   2             2146                                 213050
    2025-09-22 20:12:03  2.092 sec   3             1296                                 210276
    2025-09-22 20:12:03  2.428 sec   4             808                                  209155
    2025-09-22 20:12:04  2.620 sec   5             577                                  208634
    2025-09-22 20:12:04  2.787 sec   6             455                                  208364
    2025-09-22 20:12:04  2.943 sec   7             362                                  208198
    2025-09-22 20:12:04  3.081 sec   8             314                                  208087
    2025-09-22 20:12:04  3.227 sec   9             279                                  207998
    2025-09-22 20:12:04  3.434 sec   10            261                                  207928

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [6]:
#code snippet 6
#Displaying the cluster size
kmeans_model.size()

[6891.0, 2888.0, 6740.0]

In [9]:
import pandas as pd
data.dtypes

AttributeError: 'H2OFrame' object has no attribute 'dtypes'

In [14]:
# ============================================
# Code Snippet 7 - Customer Dataset Clustering
# ============================================

# Import libraries
import pandas as pd

# Predict clusters for each row
pred = kmeans_model.predict(data)

# Join prediction to the original dataset
data_with_clusters = data.cbind(pred)

# Convert to pandas DataFrame
df = data_with_clusters.as_data_frame()

# ==========================
# Numeric variables
# ==========================
numeric_cols = [
    "Birth Date",
    "Home Owner Status",
    "Number of Cars Owned",
    "Number of Children At Home",
    "Total Number of Children",
    "Annual Income",
    "Avg Monthly Spend",
    "eBook Subscriber Flag"
]

# Calculate the average of each numeric variable per cluster
numeric_summary = df.groupby("predict")[numeric_cols].mean()

# ==========================
# Categorical variables
# ==========================
categorical_cols = [
    "Education Level",
    "Occupation",
    "Gender",
    "Marital Status"
]

# Calculate the distribution (percentages) of categories per cluster
categorical_summary = {}
for col in categorical_cols:
    categorical_summary[col] = (
        df.groupby("predict")[col]
        .value_counts(normalize=True)
        .unstack(fill_value=0)
    )

kmeans prediction progress: |████████████████████████████████████████████████████| (done) 100%

/usr/local/lib/python3.12/dist-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

In [16]:
# ==========================
# Combine summaries
# ==========================

# Merge all categorical summary DataFrames into a single DataFrame
categorical_df = pd.concat(categorical_summary.values(), axis=1)

# Combine numeric and categorical summaries into a single profile per cluster
cluster_profiles = numeric_summary.join(categorical_df, how="left")

# Export the final cluster profiles to a CSV file
cluster_profiles.to_csv("cluster_profiles.csv", index=True)

# Display the result in the console
print(cluster_profiles)

           Birth Date  Home Owner Status  Number of Cars Owned  \
predict
0        1.181505e+12           0.630968              1.089827
1        2.382650e+12           0.778740              2.774584
2        2.500315e+12           0.672849              1.375668

         Number of Children At Home  Total Number of Children  Annual Income  \
predict
0                          0.247279                  0.888405   52039.928022
1                          3.701524                  4.075831  121308.058172
2                          0.592433                  2.262315   86285.007715

         Avg Monthly Spend  eBook Subscriber Flag  Bachelors  Graduate Degree  \
predict
0                56.001161               0.114207   0.181396         0.159483
1               115.659280               0.784972   0.358380         0.114266
2                70.644807               0.361276   0.371958         0.212760

         ...  Partial High School  Clerical  Management    Manual  \
predict  ...
0        ...             0.111450  0.251923    0.028008  0.241765
1        ...             0.058172  0.024584    0.352493  0.013158
2        ...             0.070623  0.120475    0.225964  0.064392

         Professional  Skilled Manual         F         M         M         S
predict
0            0.118270        0.360035  0.632854  0.367146  0.558119  0.441881
1            0.493421        0.116343  0.399584  0.600416  0.680055  0.319945
2            0.404006        0.185163  0.393620  0.606380  0.460979  0.539021

[3 rows x 22 columns]